@charset "UTF-8";
#root {
    /*background-image: url(http://77flfx.com5.z0.glb.clouddn.com/100001654389814.jpg);
    background-image: url(http://qqfs.qiniudn.com/background.png);
    background-image: url(http://qqfs.qiniudn.com/bg.png);
    background-image: url(http://johnzhang.cn/bing.php);*/
    //background: url(http://ww3.sinaimg.cn/mw690/005xR7qygw1f58p2vc7ohj308c08cgln.jpg);
    //background: url(http://7u2f38.com5.z0.glb.clouddn.com/bg.png) fixed ;
    /*background-attachment: fixed; */
    /*background-color: rgba(249, 249, 249, 1);*/
    /*华康娃娃体W5,*/
    font-family:微软雅黑, Helvetica, STHeiti, Droid Sans Fallback;
    right: 0;
    bottom: 0;
    /*background-image: url(http://qqfs.qiniudn.com/background.png);*/
    //background-size: 100% auto;
}

#hcond {
    text-align: center;
    max-width: 94%;
    margin-left: 3%;
    /*此时宽和高都要固定*/
}
span,button#jiao,status,loadtime,div#musica,button#imgfile{
    text-shadow: 1px 1px 3px #000;
}
#root a:hover {
    text-decoration: none;
}

#b3 {
    float: right;
}

.footer p {
    color: darkslategray;
    font-family: clicker script, segoe script, Comic Sans MS;
    font-size: 28px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-shadow: none;
    text-align: center;
    display: block;
}

.center {
    text-align: center;
    margin: 0px auto;
}

#hcon {
    text-align: center;
    margin-top: 100px;
}

.wrap {
    position: fixed;
    bottom: 100px;
    right: 25px;
}

.tianqi {
    width: 420px;
    height: 45px;
    float: right;
}

.tiao {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

#commit div {
    word-break: break-all;
    //font-size: 100%;
    margin-bottom: 0px;
    //font-size: smaller;
}

p a {
    text-decoration: none;
}

time,timep {
    font-size: 70%;
    color: #A9A9A9;
    text-shadow: none;
}

p {
    margin-top: 0px;
    margin-bottom: 0px;
}

#commit {
    clear: both;
}

.hitokoto a {
    text-decoration: none;
    text-align: center;
}

text {
    text-align: center;
}

#ti {
    text-shadow: 1px 1px 3px #000;
    //resize: none;
    overflow-y: auto;
    overflow-x: no;
    height: 100px;
    background: rgba(254, 254, 254, 1) no-repeat right bottom;
    background-size: auto 70%;
    
}

#jiao,#imgfile {
    float: right;
    font-weight: normal;
    text-shadow: none;
    border: 0;
    background: #00a3cf;
    color: #fff;
    text-align: center;
}
#imgfile{
    background: #00a3cf;
}
a {
    text-decoration: none;
}

ys {
    text-shadow: 1px 1px 2px #000;
}

#hitokoto {
    //text-shadow:1px 1px 1px #000;
    text-decoration: none;
}

#hitokoto p {
    max-width: 80%;
    margin-left: 10%;
    margin-bottom: 0px;
}

img {
    width: 200px;
}

.img,
#ti img {
    width: 200px;
    vertical-align: baseline;
}

.emojisize {
    width: 20px;
    height: 20px;
}

#musicd {
    position: fixed;
    bottom: 20%;
    left: -280px;
    z-index: 99;
    height: 60%;
    //display: none;
}

#music div {
    //writing-mode: tb-rl;
    //letter-spacing: 5px;
    //line-height: 15px;
    left: 280px;
    cursor: pointer;
    position: fixed;
    top: 255px;
    left: 0px;
    z-index: 99;
    color: #FFF;
    background-color: #FEB252;
    /*font-size: 26px;*/
    padding: 4px;
    border-radius: 4px;
}

.comment {
    width: 720px;
    margin-left: auto;
    margin-right: auto;
    max-width: 95%;
    font-size: 14px;
    text-shadow: 1px 1px 3px #000;
}
.comment br{
  //display:none;
}
comment code {
    display: inline-block;
}

span a {
    color: #FFF;
}
span a:hover{
    color: #FFF;
}
span a:focus{
    color: #FFF;
    text-decoration:none;
}
a:focus {
    outline:none;
}

.status {
    font-size: 50%;
}

.comm code {
    display: inline-block;
    word-break: break-all;
}

.comm div {
    max-width: 100%;
    overflow: auto;
}

.update {
    font-weight: normal;
    text-shadow: none;
    border: 0;
    background: #55AA00;
    color: #fff;
    /*display: none;*/
}

#fileupload {
    width: 76px;
    height: 26px;
    z-index: 99;
    font-weight: normal;
    text-shadow: none;
    border: 0;
    background: #55AA00;
    color: #fff;
    position: relative;
    top: -26px;
}

#qifile {
    display: none;
}

.upda {
    text-align: center;
    background: #55AA00;
    width: 76px;
    height: 26px;
    cursor: pointer;
    float: right;
}

.din {
    color: #FFF;
    margin-bottom: 0px;
    height: 26px;
    margin-top: 1px;
}

#ping {
    text-align: left;
}

num {
    position: absolute;
    top: 0;
    /* left: 60%; */
    padding: 0 8px;
    height: 24px;
    line-height: 24px;
    font-size: 1rem;
    color: #fff;
    background: #ff5b36;
    -webkit-border-radius: 12px;
    border-radius: 12px;
    -webkit-transform: scale(0.625);
    transform: scale(0.625);
}

powered {
    font-size: 70%;
    color: #A9A9A9;
    text-align: center;
    display: block;
}

.qqkj {
    width: 200px;
}

video {
    width: 100%;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
    background-color: #A9A9A9;
    border-radius: 4px;
}
/*
#commitload {
    width: 40px;
    height: 40px;
}
*/
.footer {
    text-align: center;
}
#toux,.upimgicon {
    border-radius: 400px;
    /*设置图像圆角效果,在这里我直接设置了超过width/2的像素，即为圆形了*/
    //-webkit-border-radius: 27px;/*圆角效果：兼容webkit浏览器*/
    //-moz-border-radius:27px;
    box-shadow: inset 0 -1px 0 #3333sf;
    /*设置图像阴影效果*/
    -webkit-box-shadow: inset 0 -1px 0 #3333sf;
    -webkit-transition: 0.4s;
    -webkit-transition: -webkit-transform 0.4s ease-out;
    transition: transform 0.4s ease-out;
    /*变化时间设置为0.4秒(变化动作即为下面的图像旋转360读）*/
    -moz-transition: -moz-transform 0.4s ease-out;
}
#toux:hover{
    /*设置鼠标悬浮在头像时的CSS样式*/
    box-shadow: 0 0 10px #fff;
    rgba(255, 255, 255, .6),
    inset 0 0 20px rgba(255, 255, 255, 1);
    -webkit-box-shadow: 0 0 10px #fff;
    rgba(255, 255, 255, .6),
    inset 0 0 20px rgba(255, 255, 255, 1);
    transform: rotateZ(360deg);
    /*图像旋转360度*/
    -webkit-transform: rotateZ(360deg);
    -moz-transform: rotateZ(360deg);
}
.upimgicon:hover{
    rgba(255, 255, 255, .6),
    inset 0 0 20px rgba(255, 255, 255, 1);
    rgba(255, 255, 255, .6),
    inset 0 0 20px rgba(255, 255, 255, 1);
    transform: rotateZ(360deg);
    /*图像旋转360度*/
    -webkit-transform: rotateZ(360deg);
    -moz-transform: rotateZ(360deg);
}

/*多说UA开始*/

ua{
    font-size: 70%;
    color: #FFF;
    margin: 0 1px!important;
    color: #FFFFFF!important;
    /*text-transform: Capitalize!important;
    float: right!important;*/
    line-height: 22px!important;
    /*text-shadow: 0px 0px 0px #FFF!important*/;
}

.ua_other,.os_other {
    display: none;
    background-color: #ccc!important;
    color: #fff;
    border: 1px solid #BBB!important;
    border-radius: 4px;
}

.ua_ie {
    background-color: #428bca!important;
    border-color: #357ebd!important;
    border-radius: 4px;
    padding: 0 5px!important;
}

.ua_firefox {
    background-color: #f0ad4e!important;
    border-color: #eea236!important;
    border-radius: 4px;
    padding: 0 5px!important;
}

.ua_maxthon {
    background-color: #7373B9!important;
    border-color: #7373B9!important;
    border-radius: 4px;
    padding: 0 5px!important;
}

.ua_ucweb {
    background-color: #FF740F!important;
    border-color: #d43f3a!important;
    border-radius: 4px;
    padding: 0 5px!important;
}

.ua_sogou {
    background-color: #78ACE9!important;
    border-color: #4cae4c!important;
    border-radius: 4px;
    padding: 0 5px!important;
}

.ua_2345explorer {
    background-color: #2478B8!important;
    border-color: #4cae4c!important;
    border-radius: 4px;
    padding: 0 5px!important;
}

.ua_2345chrome {
    background-color: #F9D024!important;
    border-color: #4cae4c!important;
    border-radius: 4px;
    padding: 0 5px!important;
}

.ua_mi {
    background-color: #FF4A00!important;
    border-color: #4cae4c!important;
    border-radius: 4px;
    padding: 0 5px!important;
}

.ua_lbbrowser {
    background-color: #FC9D2E!important;
    border-color: #4cae4c!important;
    border-radius: 4px;
    padding: 0 5px!important;
}

.ua_chrome {
    background-color: #EE6252!important;
    border-color: #4cae4c!important;
    border-radius: 4px;
    padding: 0 5px!important;
}

.ua_qq {
    background-color: #3D88A8!important;
    border-color: #4cae4c!important;
    border-radius: 4px;
    padding: 0 5px!important;
}

.ua_apple {
    background-color: #E95620!important;
    border-color: #4cae4c!important;
    border-radius: 4px;
    padding: 0 5px!important;
}

.ua_opera {
    background-color: #d9534f!important;
    border-color: #d43f3a!important;
    border-radius: 4px;
    padding: 0 5px!important;
}

.os_vista,
.os_2000,
.os_windows,
.os_xp,
.os_7,
.os_8,
.os_8_1 {
    background-color: #39b3d7!important;
    border-color: #46b8da!important;
    border-radius: 4px;
    padding: 0 5px!important;
}

.os_android {
    background-color: #98C13D!important;
    border-color: #01B171!important;
    border-radius: 4px;
    padding: 0 5px!important;
}

.os_ubuntu {
    background-color: #DD4814!important;
    border-color: #01B171!important;
    border-radius: 4px;
    padding: 0 5px!important;
}

.os_linux {
    background-color: #3A3A3A!important;
    border-color: #1F1F1F!important;
    border-radius: 4px;
    padding: 0 5px!important;
}

.os_mac {
    background-color: #666666!important;
    border-color: #1F1F1F!important;
    border-radius: 4px;
    padding: 0 5px!important;
}

.os_unix {
    background-color: #006600!important;
    border-color: #1F1F1F!important;
    border-radius: 4px;
    padding: 0 5px!important;
}

.os_nokia {
    background-color: #014485!important;
    border-color: #1F1F1F!important;
    border-radius: 4px;
    padding: 0 5px!important;
}
/*多说UA结束*/
.spinner {
  height: 60px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color:#3385ff;
  height: 100%;
  width: 6px;
  display: inline-block;

  -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
  animation: stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}
.cent{
    left: 40%;
    width:20%;
    bottom: 45%;
    max-height: 20%;
    position:fixed;
}
.comment_error{
    display: block;
    text-align: center;
    margin-top: 10px;
}